@charset "utf-8";
/*
样式初始化函数
*/
@mixin dpr($name, $size) {
  $name: $size;
  [data-dpr="2"] & {
    $name: $size * 2;
  }
  [data-dpr="3"] & {
    $name: $size * 3;
  }
}

@function torem($px) {
  $rem: 75px;
  @return ($px/$rem) + rem;
}

@mixin dpr-img($url,$name,$type:".png") {
  background-image: url($url + "2x/"+ $name + "@2x" + $type);
  [data-dpr="3"] & {
    background-image: url($url + "3x/"+ $name + "@3x" + $type);
  }
}

@mixin table-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@mixin poa-center($w, $h) {
  position: absolute;
  width: $w;
  height: $h;
  left: 50%;
  top: 50%;
  margin-left: -($w/2);
  margin-top: -($h/2);
  //transition: translate(-50%, -50%)
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin t-overflow($line:1) {
  @if $line==1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

$bgColor: #F3F8F9;
