.layout {
  /deep/ .ivu-layout {
    background: none;
    height: 100%;
  }
  /deep/ .ivu-layout-sider {
    background-color: white;
  }
}
.layout-header {
  background-color: white;
  height: 62px;
  line-height: 62px;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.1);
  padding: 0;
  z-index: 1000;
  /deep/ .ivu-menu {
    position: inherit;
  }
  .layout-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .layout-left {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .layout-logo {
        width: 100px;
        height: 30px;
        float: left;
        position: relative;
        top: 10px;
        left: 30px;
      }
    }

    .layout-right {
      display: flex;
      flex-direction: row;
      margin-right: 30px;
      .layout-nav {
        margin: 0 20px 0 0;
      }
    }
  }
}

.layout-content-container {
  //   background: #f5f7f9;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  /deep/ .ivu-layout-content {
    background: #f5f7f9;
  }
}

.page-content {
  // background-color: white;
  padding: 20px;
  margin-top: 15px;
  min-width: 800px;
  overflow: hidden;
}

.breadcrumb {
  font-size: 12px;
  /deep/ .ivu-breadcrumb-item-link {
    color: #999 !important;
  }
}
